# cadquery 2.6.dev0, Для установки cadquery требуется запустить следующую строчку отдельно
# pip install --pre git+https://github.com/cadquery/cadquery casadi==3.7.1
cadquery==2.5.2
PySide6==6.9.0
pandas==2.3.0